<section id="women">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="cloth ">
          <div class="image ">
            <img src="/assets/women/tops.png" alt="">
          </div>
          <div class="details d-flex">
            <a routerLink="" href="#">
              <h4>Safari</h4>
              <h5>Rs.550</h5>
            </a>
            <a href="" class="userContent">
              Add to cart
            </a>
          </div>
        </div>
        <div class="description">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae esse deserunt facilis impedit explicabo, sed maiores quibusdam mollitia. Odit dolores quos a. Sunt amet ullam voluptatibus eligendi explicabo enim, nam maiores nulla illum delectus fugit eaque deserunt ea officia facilis.</p>
          </div>
      </div>
    </div>
  </div>

</section>
