.btn{
  display: flex;
  justify-content: end;
  padding: 5% 5% 5% 5%;
  border: none;
}
.button{
   border: none;
    background:#ff0066;
    padding: 12px 20px 10px 20px;
    border-radius:30px;
    color:#fff;
    font-family: 'montserrat';
}
svg{
  height: 20px;
  width: 20pxsssssss;
}

.ListTable{
  button{
    border: none;
  }
}
.modal-body{
  text-align: center;
i{
   font-size: 6rem;
    color: #ff0066;
}
}
.d-flex{
  justify-content: space-evenly;
}
