<div class="NavBar">
  <div class="container">
    <div class="card card-body">
      <div class="d-flex">
        <div class="logo">
          <a href="">
            <img src="assets/logo.jpg" alt="">
          </a>
        </div>
        <div class="d-flex">
          <div class="email">
            <h5>{{currentUser?.email}}</h5>
          </div>
          <!-- <div class="logo">
            <a href="">
              <img [src]="currentUser?.imageUrl" alt="">
            </a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              </div>
              </div> -->
            <div class="dropdown">
              <a href="">
                <img [src]="currentUser?.imageUrl" *ngIf="currentUser?.imageUrl">
              </a>
              <div class="dropdown-content">
                <button routerLink="/auth/login" (click)="Logout()" type="button" class="btn-primary">Logout</button>
              </div>
            </div>
            <!-- <div class="mt-4">
      <button routerLink="/auth/login" (click)="Logout()" type="button" class="btn-primary">Logout</button>
    </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
