
<div class="SideNav">
  <div class="Logo">
    <img src="assets/logo.jpg" alt="" class="ps-5">
  </div>
  <div class="user" *ngIf="logintype=='admin'">
  <div class="userContent" *ngFor="let admin of adminSection">
     <h3 [routerLink]="admin?.url">{{admin?.title}}</h3>
  </div>
  </div>
  <div class="user" *ngIf="logintype=='user'">
    <div class="userContent" *ngFor="let user of userSection">
       <h3>{{user?.title}}</h3>
       <div *ngFor="let children of user?.children">
        <h4 [routerLink]="children?.url">{{children?.title}}</h4>
       </div>
    </div>
    </div>
</div>
